// Primary Color
$primary-dark:#000000;
$primary-main:#212121;
$primary-light:#484848;

// Secondary Color
$secondary-dark:#9D443E;
$secondary-main:#E16259;
$secondary-light:#E7817A;

// Text Color
$text-primary-color:rgba(0, 0, 0, 0.87);
$text-secondary-color:rgba(0, 0, 0, 0.54);
$text-disabled-color:rgba(0, 0, 0, 0.38);

// Error Color
$error-dark-color:#9D443E;
$error-main-color:#E16259;
$error-light-color:#E7817A;

// Info Color
$info-dark-color:#00537F;
$info-main-color:#0077B6;
$info-light-color:#3392C4;

// Warning Color
$warning-dark-color:#B08202;
$warning-main-color:#FCBA04;
$warning-light-color:#FCC736;

// Success Color
$success-dark-color:#127243;
$success-main-color:#1AA461;
$success-light-color:#47B680;

// Border Color
$border-color:rgba(0, 0, 0, 0.12);
$divider-color:rgba(0, 0, 0, 0.65);

// Background Color
$background-color:rgba(0, 0, 0, 0.04);
$background-grey:#f6f6f6;
$background-white:#ffffff;

// font color
$font-black:#111111;
$font-black2:#222222;
$font-gray:#b0b0b0;
$font-gray2:#717171;
$font-green:#83bca9;
// palette
$mat-accent: (50 : #fbeceb,
  100 : #E7817A,
  200 : #f0b1ac,
  300 : #ea918b,
  400 : #e67a72,
  500 : #e16259,
  600 : #dd5a51,
  700 : #9D443E,
  800 : #d5463e,
  900 : #cd342e,
  A100 : #ffffff,
  A200 : #ffdddc,
  A400 : #ffaca9,
  A700 : #ff9490,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-warning: (50 : #fff7e1,
  100 : #FCC736,
  200 : #fedd82,
  300 : #fdcf4f,
  400 : #fcc42a,
  500 : #fcba04,
  600 : #fcb303,
  700 : #fbab03,
  800 : #fba302,
  900 : #B08202,
  A100 : #ffffff,
  A200 : #fff7ed,
  A400 : #ffdfba,
  A700 : #ffd4a1,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-black-white: (50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (50 : #101010,
    100 : #101010,
    200 : #101010,
    300 : #101010,
    400 : #101010,
    500 : #101010,
    600 : #101010,
    700 : #101010,
    800 : #101010,
    900 : #101010,
    A100 : #101010,
    A200 : #101010,
    A400 : #101010,
    A700 : #101010,
  ));
